@media screen and (max-width: 767px){
  table th,td {
    font-size: 0.8rem;
  }
}

.standard_1{
  background-color: #ccff99;
}

.standard_2{
  background-color: #e6ff99;
}

.standard_3{
  background-color: #ffffb3;
}

.standard_4{
  background-color: #ffe699;
}

.standard_5{
  background-color: #ffcc99;
}

.standard_6{
  background-color: #e6ffff;
}

.standard_7{
  background-color: #ffe6f2;
}
