@media screen and (max-width: 767px){
  h1 {
    font-size: 1.4rem;
  }
}

h2 {
  font-size: 1.2rem;
}

#filterTable {
  max-width: 700px;
  text-align: center;
}

u.dotted{
  border-bottom: 1px dashed #999;
  text-decoration: none;
}

.jumbotron {
  background-color: #e9ecef !important;
}

.subject {
  text-align: center;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

#table_result {
  table-layout: fixed;
  word-wrap: break-word;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  padding: 0.7rem;
  color: rgb(128, 128, 128);
  font-size: 0.9rem;
  background-color: #e9ecef;
  text-align: center;
  white-space: nowrap;
}
.footer > a {
  color: rgb(128, 128, 128);
  font-weight: bold;
}