@media (max-width: 767px){
  table th,td{
    font-size: 0.8rem;
  }
}

.s1{
  background-color: #ccff99;
}

.s2{
  background-color: #e6ff99;
}

.s3{
  background-color: #ffffb3;
}

.s4{
  background-color: #ffe699;
}

.s5{
  background-color: #ffcc99;
}

.s6{
  background-color: #e6ffff;
}

.s7{
  background-color: #ffe6f2;
}
