#title_text{
  font-size: 3rem;
}
@media (max-width: 768px){
  #table_result{
    font-size: 0.8rem;
  }
  #title_text{
    font-size: 1.8rem;
  }
}
#table_result{
  table-layout: fixed;
  word-wrap: break-word;
}
.subject{
  text-align: center;
}
.s1{
  background-color: #ccff99;
}
.s2{
  background-color: #e6ff99;
}
.s3{
  background-color: #ffffb3;
}
.s4{
  background-color: #ffe699;
}
.s5{
  background-color: #ffcc99;
}
.s6{
  background-color: #e6ffff;
}
.s7{
  background-color: #ffe6f2;
}
